.inputField{
    width: 354px;
    height: 56px;
    padding: 16px;
    text-align: left;
    border: 1px solid #b3cdf8;
    box-sizing: border-box;
    border-radius: 8px;
    line-height: 23px;
    font-size: 15px;
    color: #333;
    margin-top: 4px;
}

.label {
    font-family: Montserrat;
    font-style: normal;
    font-weight: 600;
    font-size: 13px;
    line-height: 19px;
  }
  
  .typing {
    border-color: #5c98f1;
    color: #333;
  }
  
  .error {
    border-color: #fb6262;
    background: url("../../345.png") no-repeat center right 16px;
  }
  
  .errorMessage{
      color: #fb6262;
  }